<!DOCTYPE html>
<html>
<head>
  <title>Counter</title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/libs/bootstrap-3.3.6/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/custom.css' />
</head>
<body>
  <div class='fade page-header-fixed page-sidebar-fixed in'>
    <div id='header' class='navbar navbar-default navbar-static-top inverse'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand'>Counter</a>
        </div>
        <ul class='nav navbar-nav navbar-right'>
          <li><a data-toggle='modal' href='#userDeleteConfirm'>DELETE</a></li>
          <li id='userLogout'><a href='/logout'>LOGOUT</a></li>
        </ul>
      </div>
    </div>

    <div id='content' class='container'>
      <div class='row'>

        <div class='col-md-6'>
          <div class='panel'>
            <div class='panel-heading inverse'>
              <h4 class='panel-title'>Counter</h4>
            </div>
            <div class='panel-body text-center'>
              <button type='button' class='btn btn-default countCreate' value='1'>Count 1</button>
              <button type='button' class='btn btn-default countCreate' value='2'>Count 2</button>
              <button type='button' class='btn btn-default countCreate' value='3'>Count 3</button>
              <button type='button' class='btn btn-default countCreate' value='4'>Count 4</button>
              <button type='button' class='btn btn-default countCreate' value='5'>Count 5</button>
              <button type='button' class='btn btn-default countCreate' value='6'>Count 6</button>
            </div>
          </div>
        </div>

        <div class='col-md-6'>
          <div class='panel'>
            <div class='panel-heading inverse'>
              <h4 class='panel-title'>Logs</h4>
            </div>
            <div class='panel-body'>
              <table class='table'>
                <thead>
                  <tr>
                    <th>name</th>
                    <th>time</th>
                  </tr>
                </thead>
                <tbody id='counts'>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id='userDeleteConfirm' class='modal fade' role='dialog' tabindex='-1' aria-labelledby='userDeleteConfirmLabel' aria-hidden='true' data-show='true' data-keyboard='false'>
      <div class='modal-dialog modal-sm'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h4 class='modal-title' id='modal-label'>DELETE ACCOUNT</h4>
          </div>
          <div class='modal-body'>Are you sure you want to delete your account ?</div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-default' data-dismiss='modal'>CLOSE</button>
            <button id='userDelete' type='button' class='btn btn-primary'>DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src='/libs/jquery-1.12.2.js'></script>
  <script src='/libs/bootstrap-3.3.6/js/bootstrap.min.js'></script>
  <script>
  // for user delete button
  (function(){
    document.getElementById('userDelete').addEventListener('click', function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if ('message' in this.response && this.response.message === 'success'){
          location.href = '/';
        }
      };
      xhr.onerror = function(e){
        console.log('error', e);
      };
      xhr.open('DELETE', '/user/<%= id %>');
      xhr.responseType = 'json';
      xhr.withCredentials = true;
      xhr.send({id: '<%= id %>'});
    });
  })()
  </script>
  <script>
  // get counts
  (function(){
    function updateCounts(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if ('message' in this.response && this.response.message === 'success'){
          document.getElementById('counts').innerHTML = '';
          this.response.counts.sort(function(a, b){
            return a.created - b.created;
          });
          this.response.counts.forEach(function(count){
            console.log(count.name, count.created);
            var tr = document.createElement('tr');
            var name = document.createElement('th');
            name.innerText = count.name;
            tr.appendChild(name);
            var time = document.createElement('th');
            time.innerText = new Date(count.created);
            tr.appendChild(time);
            document.getElementById('counts').appendChild(tr);
          });
        }
      };
      xhr.onerror = function(e){
        console.log(e);
      };
      xhr.open('GET', '/count?userId=<%= id %>');
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xhr.responseType = 'json';
      xhr.withCredentials = true;
      xhr.send();
    }
    updateCounts();
    setInterval(updateCounts, 5000);
  })();
  </script>
  <script>
  // create count
  (function(){
    [].forEach.call(document.getElementsByClassName('countCreate'), function(div){
      div.addEventListener('click', function(){
        var xhr = new XMLHttpRequest();
        xhr.onerror = function(e){
          console.log(e);
        };
        xhr.open('POST', '/count');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.responseType = 'json';
        xhr.withCredentials = true;
        xhr.send(JSON.stringify({
          userId: '<%= id %>',
          name: div.value,
          created: (new Date()).getTime()
        }));
      });
    }, false);
  })()
  </script>
</body>
</html>
