<!doctype html>
<html lang='ja'>
<head>
  <title>Counter Login</title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/libs/bootstrap-3.3.6/css/bootstrap.min.css' />
  <link rel='stylesheet' href='stylesheets/custom.css' />
</head>
<body>
  <div id='content-center' class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
          <ul class='nav nav-tabs'>
            <li><a href='#login-form' id='login-form-link' data-toggle='tab'>Login</a></li>
            <li><a href='#resister-form' id='resister-form-link' data-toggle='tab'>Resister</a></li>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane fade' id='login-form'>
              <form action='/login' method='GET' role='form'>
                <div class='form-group row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <input class='form-control' type='text' name='email' placeholder='Email'/>
                  </div>
                </div>
                <div class='form-group row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <input class='form-control' type='password' name='password' placeholder='Password'/>
                  </div>
                </div>
                <div class='form-group row'>
                  <div class='col-sm-4 col-sm-offset-4'>
                    <button type='submit' class='btn btn-primary form-control'>LOG IN</button>
                  </div>
                </div>
              </form>
            </div>
            <div class='tab-pane fade' id='resister-form'>
              <form role='form'>
                <div class='form-group row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <input class='form-control' type='text' name='email' placeholder='Email'/>
                  </div>
                </div>
                <div class='form-group row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <input class='form-control' type='password' name='password' placeholder='Password'/>
                  </div>
                </div>
                <div class='form-group row'>
                  <div class='col-sm-4 col-sm-offset-4'>
                    <button type='submit' class='btn btn-primary form-control'>RESISTER</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script src='/libs/jquery-1.12.2.js'></script>
  <script src='/libs/bootstrap-3.3.6/js/bootstrap.min.js'></script>
  <script>
    // for register form
    $('#login-form').addClass('active').addClass('in');
    document.getElementById('login-form-link').parentNode.className = 'active';
    document.getElementById('login-form-link').addEventListener('click', function(e){
      e.preventDefault();
      $('#login-form').addClass('active').addClass('in');
      $('#resister-form').removeClass('active').removeClass('in');
      document.getElementById('login-form-link').parentNode.className = 'active';
      document.getElementById('resister-form-link').parentNode.className = '';
    });
    document.getElementById('resister-form-link').addEventListener('click', function(e){
      e.preventDefault();
      $('#login-form').removeClass('active').removeClass('in');
      $('#resister-form').addClass('active').addClass('in');
      document.getElementById('login-form-link').parentNode.className = '';
      document.getElementById('resister-form-link').parentNode.className = 'active';
    });
    document.getElementById('resister-form').addEventListener('submit' , function(e){
      e.preventDefault();
      if (!e.target[0].value || !e.target[1].value) {
        console.log('empty');
        return;
      }
      var xhr = new XMLHttpRequest();
      xhr.onload = function(res){
        window.location.href = '/login?email=' + e.target[0].value + '&password=' + e.target[1].value;
      };
      xhr.onerror = function(e){
        console.log(e);
      };
      xhr.open('POST', '/user');
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xhr.responseType = 'json';
      xhr.send(JSON.stringify({ email: e.target[0].value, password: e.target[1].value }));
    });
  </script>
</body>
</html>